<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0)" (click)="onHome()">MichaelPage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>-->
      </ul>
      <span class="navbar-text">
      Developer: José Muñoz
    </span>
    </div>
  </div>
</nav>

<!-- ======= Main ======= -->
<main id="main" class="container mt-4">
  <router-outlet></router-outlet>
</main>
<!-- End #main -->
