<div *ngIf="!drink" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>No encontrado!</strong> El producto seleccionado no fue encontrado
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="drink" class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
    <div class="card">
      <img class="card-img-top" [src]="drink?.strDrinkThumb" [alt]="drink?.idDrink">
      <div class="card-body">
        <h5 class="card-subtitle">{{drink?.strDrink}}</h5>
        <p class="card-text">{{drink?.strInstructions}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Categoría: {{drink?.strCategory}}</small>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 mb-4">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Ingrediente</th>
          <th scope="col">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let i of ingredients">
          <tr *ngIf="drink['strIngredient'+i]">
            <td>{{drink['strIngredient'+i]}}</td>
            <td>{{drink['strMeasure'+i]}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
