<form *ngIf="filterForm" class="mb-5" role="form" novalidate [formGroup]="filterForm">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <select class="form-control" formControlName="criteria" (ngModelChange)="onSelectedCriteria($event)">
        <option value="c">Categories</option>
        <option value="g">Glasses</option>
        <option value="i">Ingredients</option>
        <option value="a">Alcoholic</option>
      </select>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <ng-container *ngIf="filterForm?.value['criteria'] !== 'a';else autocomplete">
        <select class="form-control" formControlName="drink" (ngModelChange)="onSelectedDrink($event)">
          <ng-container *ngIf="filterForm?.value['criteria'] === 'c'">
            <option *ngFor="let item of drinks" [value]="item.strCategory">{{item.strCategory}}</option>
          </ng-container>
          <ng-container *ngIf="filterForm?.value['criteria'] === 'g'">
            <option *ngFor="let item of drinks" [value]="item.strGlass">{{item.strGlass}}</option>
          </ng-container>
          <ng-container *ngIf="filterForm?.value['criteria'] === 'i'">
            <option *ngFor="let item of drinks" [value]="item.strIngredient1">{{item.strIngredient1}}</option>
          </ng-container>
        </select>
      </ng-container>
      <ng-template #autocomplete>
        <mp-input-autocomplete [items]="drinksAutocomplete" [config]="config"
                               (inputChangedEvent)="onAutocompleteSearch($event)"
                               (selectEvent)="onAutocompleteSelected($event)"></mp-input-autocomplete>
      </ng-template>
    </div>
  </div>
</form>

<div class="row">
  <div *ngFor="let item of products"
       class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
    <div class="card">
      <a href="javascript:void(0)" (click)="onDetail(item?.idDrink)">
        <img class="card-img-top" [src]="item?.strDrinkThumb" [alt]="item?.idDrink">
      </a>
      <div class="card-body">
        <p class="title mb-0"><a href="javascript:void(0)" (click)="onDetail(item?.idDrink)">{{item?.strDrink}}</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <a href="javascript:void(0)" (click)="onDetail(item?.idDrink)">Ver detalle</a>
        </small>
      </div>
    </div>
  </div>
</div>
